.login-container {
            width: 60%;
            padding: 5px;
            margin: 5px auto;
            border: 1px solid #46ac0b;
        }

.login-container input[type="text"],
.login-container input[type="password"] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

.login-container input[type="submit"] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 0 0 ;
            border: none;
            cursor: pointer;
        }

        .login-container button[type="btn"] 
        {
            width: 100%;
            background-color: #143f9c;
            font-family: 'Times New Roman', Times, serif;
            font-size: 120%;
            color: white;
            padding: 7px 10px;
            margin: 0 0 ;
            border: none;
            cursor: pointer;
        }       