.login-container {
            width: auto;
            padding: 16px;
            margin: 0 auto;
            border: 1px solid #46ac0b;
            font-size: 20px;
        }

.login-container input[type="text"],
.login-container input[type="password"] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

.login-container input[type="submit"] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 0 0 ;
            border: none;
            cursor: pointer;
        }

        .login-container button[type="btn"] 
        {
            width: 100%;
            background-color: #143f9c;
            color: white;
            padding: 3px 5px;
            margin: 0 0 ;
            border: none;
            cursor: pointer;
        }       